@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --dark-blue: #0f0f1f;
  --blue: #87b5f0;
  --light-blue: #e2efff;
}

#root {
  width: 100%;
  height: 100vh;
  margin: 0;
}
*{
  box-sizing: border-box;
}

.App{
  background-color: rgb(227,229,235);
  transition: .3s;
}
.App.dark-mode{
  background-color: rgb( 17, 24, 39);
  transition: .3s;
}

@media (prefers-reduced-motion: no-preference) {

}


